# Auto detect text files and perform LF normalization
* text=auto

# Force detection for C# source files
*.cs linguist-detectable=true
*.cs linguist-language=C#

# Ignore Unity-related file types from GitHub linguist stats
*.shader linguist-detectable=false
*.cginc linguist-detectable=false
*.meta linguist-detectable=false
*.unity linguist-detectable=false
*.prefab linguist-detectable=false
*.mat linguist-detectable=false

# Ignore HTML files from affecting repo language stats
*.html linguist-detectable=false
*.css linguist-detectable=false
